@model FullStack.Models.WeatherData
@{
    ViewData["Title"] = "Home Page";

    DateTime GetFromEpoch(int epochSeconds)
    {
        DateTime epoch = new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc);
        return epoch.AddSeconds(epochSeconds).AddHours(1);
    }
}

<div class="text-center mb-5">
    <h1 class="display-4">Bienvenido</h1>
</div>

@if(Model != null)
{
<div class="row text-center">
    <div class="col-sm">
        <h1>Madrid</h1>
        <p>@Model.Description</p>

        <div>
            <img src="http://openweathermap.org/img/wn/@Model.Icon@@2x.png" alt="@Model.Description" />
        </div>

        <h2>@(Math.Round(Model.Temperature))º</h2>
        <p><small>Min: @(Math.Round(Model.MinTemperature))º Min: @(Math.Round(Model.MaxTemperature))º</small></p>
    </div>
    <div class="col-sm">
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td>
                        <p class="fs-sm mb-0">Salida del sol</p>
                        <p class="fs-lg">@GetFromEpoch(Model.Sunrise).ToString("HH:mm")</p>
                    </td>
                    <td>
                        <p class="fs-sm mb-0">Puesta del sol</p>
                        <p class="fs-lg">@GetFromEpoch(Model.Sunset).ToString("HH:mm")</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="fs-sm mb-0">Humedad</p>
                        <p class="fs-lg">@(Model.Humidity)%</p>
                    </td>
                    <td>
                        <p class="fs-sm mb-0">Sensación Térmica</p>
                        <p class="fs-lg">@(Math.Round(Model.FeelsLike))º</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
}
