@model FullStack.Models.WeatherData
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>

    <h1>Madrid</h1>
    <p>@Model.Description</p>

    <div class="d-flex justify-content-center">
        <img src="http://openweathermap.org/img/wn/@Model.Icon@@2x.png" alt="@Model.Description" />
    </div>

    <h2>@(Math.Round(Model.Temperature))º</h2>
    <p><small>Min: @(Math.Round(Model.MinTemperature))º Min: @(Math.Round(Model.MaxTemperature))º</small></p>
</div>
